.underline{
    border-bottom: 2px solid red;
    margin-top: 9px;
}

input{
    background: none;
    border: none;
    margin-left: 5px;
    color: rgba(32, 183, 22, 1);
    font-size: 16px;
    margin-top: 24px;
    outline: none;
}

::placeholder {
    color: rgba(32, 183, 22, 1);;
}

.errorMsgDiv{
    display: flex;
    align-items: center;
}
.errorMsgDiv p{
    color: rgba(238, 45, 110, 1);
    margin-left: 4px;
}

