@font-face {
  font-family: 'Josefin Sans Regular';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Sans Regular'), local('Josefin Sans Regular'), url("./assets//fonts/JosefinSans-Regular.ttf") format('ttf');
}


@font-face {
  font-family: 'Josefin Sans Semi Bold';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Sans Semi Bold'), local('Josefin Sans Semi Bold'), url("./assets//fonts/JosefinSans-SemiBold.ttf") format('ttf');
}


@font-face {
  font-family: 'Myriad Pro Regular';
  src: local('Myriad Pro Regular'), local('Myriad Pro Regular'), url("./assets//fonts/MYRIADPRO-REGULAR.woff") format('woff');
}

.JSRegular{

 
  opacity: 1;
  width: 100%;
}

.JSSemiBold{
  
}

.MPRegular{
  font-family: "Myriad Pro Regular";
  font-weight: 400 !important;
}